:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}



body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  /* text-align: center; */
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  /* margin: 32px 0; */
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  /* margin: 0 0 8px; */
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.splash-nav-bar{
  padding: 20px;
  background-color: white;
  /* position: fixed; */
  
}
.splash-nav-bar > *{
  margin-left: 30px;
  text-decoration: none;
}

/* splash page navigation  items */
#splash_signup{
  text-decoration: none;
  background-color: blue;
  /* TRouBLe: Top | Right | Bottom | Left */
  padding: 10px 15px 10px 15px;
  color: white;
  border-radius: 5px;
  margin-left: 30px;
  
}
#splash_login{
  text-decoration: none;

}
#splash_signup:hover{
  color: #08060d;
  background-color: white;
  border: #08060d solid 1px;
}
.lognsign{
  float: inline-end;
  text-decoration: none;
}
.lognsign > Link{
  text-decoration: none;

}
#bluetext{
  color: blue;
}

/* End of splash page nav items */
/* buttons */
#buttons{
  padding: 20px;
}
#explore{
  color: black;
  background-color: white;
  padding: 10px 15px 10px 15px;
  border: 1px solid blue;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
}
#join{
  color: white;
  background-color: blue;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 30px;
  cursor: pointer;
}
/* -- */
/* splash main content */
#main-content-splash{
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 100vh;
  /* padding: 0 8%; */
}
#text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 60px;
}
#text h1{
  font-size: 100px;
  padding: 10px;
  text-align: left;
}
#text p{
  font-size: 30px;
  padding: 10px;
  text-align: left;
}
#side-images{
  display: flex;
  width: 50%;
  border: 1px solid #08060d;
}
/* images splash page */
#side-images img{
  width: 300px;
  position: absolute;
}
#alyona{
  right: 180px;
  bottom: 350px;
}
#pervane{
  right: 400px;
  bottom: 200px;
}
#samert{
  top: 180px;
  right:300px;
}

/* Login form */

.login{
  margin-top: 100px;
  justify-content: center;
  width: 550px;
  height: 600px;
  /* border: #08060d solid 1px; */
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.login label{
  justify-content: left;
  text-align: left;
  margin: 0;
  width: 500px;
}
.login input{
  width: 500px;
}
.login button{
  text-align: center;
  background-color: blue;
  color: white;
  /* TRouBLe: Top | Right | Bottom | Left */
  padding: 10px 15px 10px 15px;
  margin: 10px 0px 10px 0px;
  width: 500px;
}
.login h1{
  text-align: center;
}
.register-link{
  text-align: center;
  padding: 20px;
}
.login-form button{
  align-items: center;
  justify-content: center;
}

/* Not found */

.notfound{
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
  /* height: 100vh; */
  /* width: 100vw; */
}

/* signup - form */
.signup-form{
  margin-top: 100px;
  justify-content: center;
  width: 550px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.signup-button{
  /* TRouBLe: Top | Right | Bottom | Left */
  padding: 10px 15px 10px 15px;
  margin: 10px 0px 10px 0px;
  width: 490px;
  border-radius: 10px;
  background-color: blue;
  color: white;
}
.signup-button:hover{
  color: black;
  background-color: white;
  border: #08060d solid 1px;
}
.signup-form p,h1{
  text-align: center;
}
/* End */
/* Navigation Bar */
.nav-bar{
  text-align: center;
  justify-content: space-between;
  padding: 50px;
}

.nav-bar >*{
  text-decoration: none;
  margin-left: 30px;
}

.nav-bar input{
  width: 200px;
}
.nav-bar .form-div{
  display: inline-flex;
  width: 200px;
}
/* End of navbar */

/* post component css */

.post{
  margin: 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;

}
.post-image{
  width: 60%;
  height: 1000px;
  /* border: #08060d solid 1px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.post-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.post-comments{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 1000px;
  /* border: #08060d solid 1px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 10px;
  border-radius: 10px;
  
}

.comments{
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.comment-form{
  margin-top: auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* end of post component */